@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Rubik+Mono+One');

.App {
  text-align: center;
}
.logo{
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  font-size: 50px;
  padding: 10px;
}
.button{
  margin: 10px;
}
.hex{
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  color: white;
}
.pal{
  height: 500px;
  width: 80%;
  border: solid black 1px;
  margin: 0 auto;
}
.palette{
  flex: 1;
  height: 100%;
  width: 100px;
}
.creating{
  display: none;
}
.createnewpal{
  display: inline-block;
}
