@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Rubik+Mono+One');
.App {
  text-align: center;
}

.logo{
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  font-size: 30px;
}
.button{
  margin: 10px;
}
.hex{
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  color: white;
}
